ElectronicCard/EC.BusinessLogic/Connected Services/MyService/PromotionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EC.PromotionService/PromotionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EC.PromotionService.Models" />
  <xs:element name="GetPromotionImage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotionImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EC.PromotionService.Models" minOccurs="0" name="GetPromotionImageResult" nillable="true" type="q1:Promotion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>