ElectronicCard/EC.BusinessLogic/Connected Services/MyService/PromotionService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EC.Entities.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EC.Entities.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EC.PromotionService/PromotionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security.Policy" />
  <xs:complexType name="Promotion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security.Policy" minOccurs="0" name="Photo" nillable="true" type="q1:Url" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promotion" nillable="true" type="tns:Promotion" />
</xs:schema>