ElectronicCard/EC.BusinessLogic/Connected Services/MyService/PromotionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EC.PromotionService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EC.PromotionService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Promotion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="TypeImage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promotion" nillable="true" type="tns:Promotion" />
</xs:schema>